* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    background-color: #cc5f5f;
    width: 35vw;
    height: 35vh;
    z-index: 1;
}

.container::before {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.container::after {
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo img {
    width: 400px;
    height: auto;
}

.coming-soon {
    position: absolute;
    top: calc(50% + 230px);
    /* Adjust based on the logo size */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}